/* styles/main.css */
:root {
    --baltic-blue: #34639E;
    --blue-energy: #518fdb;
    --lavender: #d3e3fc;
    --alice-blue: #E6EFFE;
    --platinum: #f8fbff;
    --pale-slate: #bfc4c9;
    --dim-gray: #606265;
    --black: #000000;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#app-container {
    width: 100%;
    height: 100vh;
    background-color: var(--platinum);
}

svg {
    display: block;
    user-select: none;
}

/* Grid */
.grid-dot {
    fill: var(--alice-blue);
}

/* Nodes */
.node-body {
    fill: var(--alice-blue);
    stroke: var(--dim-gray);
    stroke-width: 1px;
    cursor: grab;
    transition: stroke 0.15s;
}

.node:hover .node-body {
    stroke: var(--baltic-blue);
    stroke-width: 2px;
}

.node.selected .node-body {
    stroke: var(--baltic-blue);
    stroke-width: 3px;
}

.node-label {
    fill: var(--baltic-blue);
    font-size: 1rem;
    font-family: sans-serif;
    pointer-events: none;
}

.node-sublabel {
    fill: var(--pale-slate);
    font-size: 0.75rem;
    font-family: sans-serif;
    font-style: oblique;
    pointer-events: none;
}

/* Handlers */
.handler-body {
    fill: var(--alice-blue);
    stroke: var(--blue-energy);
    stroke-width: 1px;
}

.handler-connector {
    fill: var(--alice-blue);
    stroke: var(--blue-energy);
    stroke-width: 2px;
}

.handler.source {
    fill: var(--alice-blue);
    stroke: var(--dim-gray);
    stroke-width: 1px;
    cursor: pointer;
}

.handler.source.background {
    fill: var(--platinum);
    cursor: pointer;
}

.handler.source.background.arc {
    stroke: var(--dim-gray);
    stroke-width: 1px;
    cursor: pointer;
}

.handler.target {
    fill: var(--pale-slate);
    stroke: var(--dim-gray);
    stroke-width: 1px;
    cursor: pointer;
}

.handler.target:hover {
    stroke: var(--blue-energy);
}

.handler-g {
    cursor: grab;
}

.handler-g:active {
    cursor: grabbing;
}

/* Links */
.link {
    fill: none;
    stroke: var(--dim-gray);
    stroke-width: 2px;
    pointer-events: stroke;
}

.ghost-link {
    fill: none;
    stroke: var(--dim-gray);
    stroke-width: 2px;
    stroke-dasharray: 5, 5;
    pointer-events: none;
}

.link:hover {
    stroke: var(--blue-energy);
    stroke-width: 3px;
}